<div class="container">
    <div class="row mt-5">
        <div class="col"></div>
        <div class="col-4">
            <div class="card shadow namaste">
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <h3>
                                <div class="text-dark text-muted">Forget Password</div>
                            </h3>
                        </div>
                        <div class="form-group mb-3">
                            <label for="exampleInputEmail1">Email</label>
                            <input type="email" class="form-control" name="email" [(ngModel)]="email">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <button type="button" class="btn btn-primary" (click)="forgotPassword()">Send Link</button>
                        <div class="row">
                            <div class="col-6 md-6">
                                <a href="/login" style="text-decoration: none;color: black;">Back to<span class="text-danger">Login</span></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>


















